* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
    color: white;
    background: #2A7B9B;
    background: linear-gradient(175deg, rgb(29, 208, 253) 0%, rgb(15, 11, 106) 100%);
}


.container-pai img {
  width: 60px;
  border-radius: 40px;
}

.container-pai {
<<<<<<< HEAD
  width: 420px;
  height: 600px;
=======
  width: 460px;
  height:700px;
>>>>>>> 8492973a60fe13a7d5facea2e0b7fb862bd29772

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: start;
  align-items: center;
}

.container-pai input {
  padding: 3px;
  border-radius: 3px;
  width: 250px;
}

/* Corpo da Extensão */
.timer-view{
    background-color: white;
    color: black;
    width: 340px;
    height: 135px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.9rem;

    /* Fonte de Relogio */
    font-family: 'Orbitron', sans-serif;
}

.btn-tempos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 55px;
    margin: 10px;
}
.btn-tempos button{
    width: 55px;
    height: 55px;
    border-color: none;
    border-radius: 50px;
    background-color: rgba(37, 150, 190);
    border: 1px solid black;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
}

.btn-tempos button:hover{
    background-color: rgb(31, 127, 161);
    border: 1px solid white;
    color: black;
}

.input-tempos{
    margin: 10px;
}
.input-tempos input{
    padding: 14px;
    border-radius: 20px;
    width: 290px;
    font-size: 1.1rem;
}
.input-tempos::placeholder{
    font-size: 5rem;
}

.container-button {
  margin-bottom: 3px;
   margin-top: 3px;

  /* FlexBox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.btn-principais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 55px;
    row-gap: 7px;
}

.btn{
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 110px;
    height: 45px;
    border-radius: 30px; 
    margin: 3px;

    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    font-size: 1.20rem;
    color: black;
    cursor: pointer;
}

.btn-principais button:hover{
    background-color: rgb(31, 127, 161);
    border: 1px solid white;
    color: black;
}

#btn-back{
        border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100px;
    height: 45px;
    border-radius: 30px; 
    margin: 3px;

    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    font-size: 1.20rem;
    color: black;
}
#btn-back:hover{
    background-color: rgb(31, 127, 161);
    border: 1px solid white;
    color: black;
}

.selected {
    background-color: rgb(20, 89, 114);
    color: white;
    border: 1px solid white;
}




/* Cabeçalho */
.cabecalho {
  display: flex;
  padding: 17px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Stalinist One", sans-serif;
}

/* Botão de engrenagem no header */
.btn-config {
    margin-left: 10px;
    background: transparent;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
}

/* Menu de configurações */
.menu-config {
    position: fixed;   /* Fica em cima de todo conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.config-item,
.btn-back{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Mostra o menu */
.menu-config.show {
    opacity: 1;
    pointer-events: auto;
}

/* Itens do menu */
.menu-config .config-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 1rem;
}

.menu-config input, 
.menu-config select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}

/* Menu de Faq */
.tabs-config {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    background: #03e2ff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.tab-btn.active {
    background: #444;
    color: white;
}

.tab-content.hidden {
    display: none;
}

.faq-item {
    background: #03e2ff;
    color: black;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-question {
    font-weight: bold;
}

.faq-answer {
    margin-top: 8px;
    display: none;
}



/* Modo Dark */
body.dark{
    color: white;
    background: linear-gradient(175deg, rgb(15, 11, 106) 0%, rgb(0, 0, 0)100%);
}


body.dark .timer-view {
    background-color: #222;
    color: #0ff;
}

body.dark .btn,
body.dark .btn-tempos button,
body.dark .input-tempos input {
    background-color: #1f373f;
    color: #fff;
    border: 1px solid #ffffff;
}

body.dark .btn:hover,
body.dark .btn-tempos button:hover{
    background-color: #0ff;
    border: 1px solid white;
    color: black;
}

body.dark .selected {
    background-color: rgb(5, 79, 105);
    color: #0ff;
    border: 1px solid white;
}
