* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Bordas View */
border: 1px solid black;
}

.container-pai img {
  width: 25px;
}

.container-pai {
  width: 400px;
  height: 400px;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-pai input {
  padding: 3px;
  border-radius: 3px;
  width: 250px;
}



/* Cabeçalho */
.cabecalho {
  display: flex;
  padding: 15px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
}


/* Rodapé */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}